<html>
  <head>
    <title>Boston University EC500 C1 HW2 Code Review</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div id="api">
      <img style="float:right" src="../static/api.png" alt="">
    </div>
    <div id="container">
      <div class="pagetitle">
        <h1>Boston University EC500 C1 HW2 Code Review by Qinjin JIA</h1>
      </div>
      <div id="Github Link">
        <h3>Github link: <a href="https://github.com/qinjinjia/ec500c1spring18">@qinjinjia</a></h3> 
      <div id="main">
      <div id="instruction">
        <h3>Instructions:</h3> 
        <p>1. Please fill the form with the Twitter screen name(e.g. @osamaamaso). Thanks!</p>
        <p>&emsp;Please note you must include "@".</a></p>
        <p>2. The code takes 20-30s to run in the backend, typically. Thank you for your patience! :D)</p>
        <p>3. Results will be displayed on other web page.</p>
      </div>
        <form method="post" action="{{ url_for('submitted_form') }}">
        <h3>Your Information:</h3>
          <label for="name">Screen Name:</label>
          <input type="text" name="name">
          <input type="submit">
        </form>
        <div id="acknowledge">
         <p>Thanks for submitting the form! Results will be displayed an another page shortly!</p>
        </div>
        <div id="logo">
        <img src="../static/logo.png" alt="">
        </div>
        <div id="copyright">
        <p>Created by <a href="https://github.com/qinjinjia/ec500c1spring18">BU EC500 C1 HW2 Code Review.</a></p>
        <p>Copyright 2018 Qinjin JIA. All right reserved.</p>
      </div>
    </div>
  </body>
</html>