<html>
 <head>
   <title>Results</title>
   <link rel="stylesheet" href="../static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Finished!</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission.</p>    
       <p>
          <strong>Screen Name</strong>: {{name}} <br>  
          </br>

          <p>Here's the results:</p>
          <strong>Generated Video:</strong> <br>
          <video width="720" height="460" controls>
            <source src="../static/output.mp4" type="video/mp4">
          </video>

          </br>
          <strong>Video Description</strong>: {{description}} <br>

        <p>Thank You!</p><br>
       </p>
     </div>
     <div id="logo">
      <img src="../static/logo.png" alt="">
      </div>
      <div id="copyright">
        <p>Created by <a href="https://github.com/qinjinjia/ec500c1spring18">BU EC500 C1 HW2 Code Review.</a></p>
        <p>Copyright 2018 Qinjin JIA. All right reserved.</p>
     </div>
   </div>
 </body>
</html>