 body{
  background-color: grey;
  margin:0;
  padding: 0;
}

div{
	text-align: center;
}

.parentDiv {
	border-left: 500px;
    position: absolute;
    top: 11px;
    right: 10px;
    left: 10px;
    height: -webkit-calc(50% - 18px);
    height: calc(50% - 18px); 
    display: block;
} 